@charset "iso-8859-1";

body,
html {
    margin:             0;
    padding:            0;
    background:         #fff;
    color:              #000;
    font-family:        sans-serif;
}

body {
    min-width:          750px;
}

#wrap {
    background:         #fff;
    margin:             0 auto;
    width:              760px;
}

#header {
    background:         #fff;
}

#main {
    background:         #9c9;
    float:              left;
    width:              500px;
}

#sidebar {
    background:         #fff;
    float:              right;
    width:              260px;
}

#footer {
    background:         #fff;
    clear:              both;
    font-size:          smaller;
}

#header h1 {
    padding:            5px;
    margin:             0;
}

#main h2, 
#main h3, 
#main p {
    padding:            0 10px;
}

#sidebar ul {
    margin-bottom:      0;
}

#sidebar h3, 
#sidebar p {
    padding:            0 10px 0 0;
}

#footer p {
    padding:            5px;
    margin:             0;
}

#screenshotTable {
    margin: 5px;
}

#glossaryTable {
    background: #CCCCCC;
    border: 1px solid;
    margin: 20px;
    padding: 5px;
}

.glossaryTitle {
    font-size: larger;
}

.glossaryThumbnail img {
    border: 1px solid;
}
